/* NavBar component */
.navBar {
  display: flex;
  background: var(--bg-col);
  align-items: center;
  padding: 10px 50px;
  font-size: 18px;
}
.logo {
  width: 50px;
  height: auto;
  margin-right: auto;
}
.navItem {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: var(--text-col);
  border-radius: 5px;
  transition: 0.5s;
}
.navItem:hover {
  background: var(--text-col);
  color: var(--bg-col);
}
